*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Borel', cursive;
    font-family: 'Cedarville Cursive', cursive;
    
   
}


body {
    background-color: rgb(235, 232, 228, 0.2);

    /*border: solid 2px green;*/
    display: flex;
    flex-direction: column;
    align-items:  center;
    

}


.menu {
    /*border: yellow 2px solid;*/
    width:70%;
    margin-bottom: 1rem;

}

.menu p{
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
    
}

.card {
    display: flex;
    border-radius: 10%; 
    
    border: 4px solid rgb(63, 63, 63,0.7);
    width: 70%;
    height: 400px;
    background: rgb(239,115,249);
    background: linear-gradient(70deg, rgba(239,115,249,0.7) 0%, rgba(115,176,249,0.7) 100%);
    -webkit-box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.63); 
    
  
   

}

.part-one, .part-two {
    justify-content: center;
    width: 50%;
    height: 100%;
    color: rgb(28, 62, 102,0.7);
}
.part-one {
    display: flex;
    flex-direction: column;
   
    
      
    
   /* border: green solid 2px;*/
   
}

.img {
    
    
    margin-top: 10%;
    margin-left: 2%;
    align-self: center;
    


}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*border: 2px orange solid;*/
    
}
.descripcion {
   width: 100%;
   margin-top: 5%;
   padding-left: 2rem;
   font-weight: bolder; 
   /*border: 2px orange solid;*/
    
}

.descripcion p{
    padding-bottom: 0.5rem;
    
}

/*
.texto{
    
    
    border: green solid 2px;
    
  
}
*/

.botones {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    margin-top: 0.3rem;
}


h1 {
    /*border: 2px orange solid;*/
    text-align: center;
    color: rgb(28, 53, 81);
    font-size: 1.8rem;
    
    
    
   
}

.part-two {
    display: flex;
    flex-direction: column;
    /*border: green solid 2px;*/
    align-items: center;
    row-gap: 2rem;
}

.part-two h1 {
    text-align: center;
    margin: 0.5rem;
}

.part-two h3 {
    text-align: center;
    text-decoration: underline;
    

}


.part-two button {
    border: 0;
    background-color: transparent;
    align-self: center;
}

.part-two button:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.fa-brands, .fa-solid, .fa-regular {
    font-size: large;
    color: rgb(28, 53, 81);
}

.fa-caret-right {
    margin-right: 0.2rem;
}

.fa-github {
    margin-left: 0.5rem;
}

@media screen and (max-width:610px) {
    .menu {
        width: 100%;
    }
    .card {
        width: 100%;
    }
    .part-two{
        row-gap: 0.8rem;
        padding-top: 0.1rem;
        padding-bottom: 0.3rem;
        font-size: small;
       
        
      
    }
    .descripcion {
        padding-left: 0.4rem;
        /*border:solid red 2px;*/

    }
    
   
}

@media screen and (min-width:900px) {
    .menu {
        width: 60%;
    }
    .card {
        width: 60%;
    }
    
   
}

@media screen and (min-width:1000px) {
    .menu {
        width: 50%;
    }
    .card {
        width: 50%;
    }
   
}